<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Telegram -->
    <add key="cntBotToken" value="363780770:AAGbGeZ1hgY9zFOl_Fgt_yW1AUsocvVkjPY" />
    <add key="cntBotLocalAdministrator" value="" />
    
    <add key="cntHelpInformation" value="This is a very cool Bot that shows you some possibilities for the Qlik Analytics Platform." />
    
    <!-- Cognitive Services -->
    <!-- Default model for Natural Language LUIS (Microsoft) -->
    <!--
    <add key="cntLuisURL" value="https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/" />
    <add key="cntLuisAppID" value="xxxxxxxxxxxxxxxx" />
    <add key="cntLuisKey" value="xxxxxxxxxxxxxx" />
    -->

    <!-- Default model for Natural Language Api.Ai (Google) -->
    <add key="cntApiAiKey" value="xxxxxxxxxxxxxx" />
    <add key="cntApiAiLanguage" value="Spanish" />

    <!-- Savvy from Yseop (Narratives) -->
    <add key="cntSavvyKey" value="xxxxxxxxxxxxxx" />

    <!-- Narrative Science (Narratives) -->
    <add key="cntNarrativeScienceKey" value="xxxxxxxxxxxx" />

    <!-- Bing News -->
    <add key="cntBingSearchKey" value="xxxxxxxxxxxxxxx" />

    <!-- Default Language -->
    <add key="cntDefaultLanguage" value="es-ES" />

    <!-- Users -->
    <add key="cntQlikUsersCSV" value="D:\Projects\Bot Mercanza\Users\QlikUsers.csv" />
    <add key="cntAllowNewUsers" value="N" />

    <!-- Streams to look for other apps to open, separate by ; -->
    <add key="cntAlternativeStreams" value="Bots;Everyone" />

    <!-- Stream ID where the new created apps will be published. If empty, not published -->
    <add key="cntStreamIdPublishNewApps" value="" />

    <!-- Punto de Venta 3.1 -->
    <!-- add key="DemoqsAppName" value="Punto de Venta 3.1" / -->
    <add key="DemoqsAppId" value="b9f9fb94-c21a-4662-9a52-429aa3b97e4c" />
    <add key="DemoqsServer" value="http://spmad-jcz2" />
    <add key="DemoqsServerSSL" value="No" />
    <add key="DemoqsServerVirtualProxy" value="telegram" />
    <add key="DemoqsServerUserDirectory" value="Telegram" />
    <add key="DemoqsServerEnginePort" value="4747" />
    <add key="cntqsCertificateFile" value="" />
    <add key="cntqsCertificatePassword" value="" />

    <add key="DemoqsSingleServer" value="http://publicserver.com" />
    <add key="DemoqsSingleApp" value="b9f9fb94-c21a-4662-9a52-429aa3b97e4c" />
    <add key="cntQSSheetForAnalysis" value="CZP" />

    <!-- NPrinting -->
    <add key="NPrintingImgsPath" value="D:\Projects\Bot Mercanza\Reports" />
    <add key="NPrintingDefaultReport" value="ReportSales.pdf" />
    
    <add key="AlertSeconds" value="60" />
    
    <!-- Log file, if you want in a different folder than the application -->
    <add key="LogFilePath" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- Folder Connection to create apps -->
    <add key="cntFolderConnection" value="TelegramFiles" />

    <!-- Capture image application -->
    <add key="cntCaptureImageApp" value="D:\Projects\Bot Mercanza\CaptureHTML\CaptureHTML.exe" />

    <!-- Uncomment the next line to avoid checking the SDK version if you get the "SDK target system version mismatch" error -->
    <add key="cntCheckSDKVersion" value="Y" />

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>